.questionCard {
  color: var(--dark-blue);
  list-style-type: none;
  margin-top: 20px;

  &__number {
    font-size: var(--text-base);
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }

  &__description {
    font-size: var(--text-xlarge);
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }

  &__hint {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &Text {
      font-size: var(--text-small);
      font-weight: 500;
      text-align: center;
      background-color: var(--light-yellow);
      border: none;
      border-radius: 6px;
      max-width: 400px;
      padding: 6px 8px;
      margin: 10px auto;
    }
  }

  &__optionList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 10px;
  }

  &__option {
    display: flex;
    margin: 0 10%;
    list-style-type: none;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}