.searchbar {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: var(--white);
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 6px 6px 4px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  
  &__inputContainer {
    width: 100%;
    border-radius: 16px;
    margin-right: 10px;
  }

  &__inputLabel--visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
  }

  &__input {
    font-family: var(--font-family);
    font-size: clamp(var(--text-small), 2vw, var(--text-base));
    font-weight: 500;
    color: var(--dark-blue);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 16px;
    padding: 6px 14px;
  }

  &__button {
    background-color: transparent;
    border: none;
    border-radius: 16px;
    margin-right: 6px;
    cursor: pointer;
  }
}