.authForm {
  &__container {
    align-self: center;
    background-color: var(--white);
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 30px 0px;
    padding: 40px 20px;
    margin: 40px 0;
  }

  &__title {
    color: var(--dark-blue);
    font-size: clamp(var(--text-base), 2.8vw, var(--text-xlarge));
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }

  &__warning {
    color: var(--dark-blue);
    font-size: var(--text-small);
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
  }

  &__validation {
    display: inline-block;
    color: var(--red);
    font-size: var(--text-small);
    padding: 10px 0;
  }

  &__paragraph {
    text-align: center;
    color: var(--dark-blue);
    font-size: var(--text-small);
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__toggleAuth {
    text-transform: uppercase;
    color: var(--purple);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 400px) {
  .authForm {
    &__container {
      padding: 40px;
    }
  }
}