.answerButton {
  color: var(--dark-blue);
  font-family: var(--font-family);
  font-size: clamp(var(--text-small), 2vw, var(--text-base));
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--lighter-blue);
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px 16px;
  cursor: pointer;
  transition: .2s;

  &:hover:enabled {
    background-color: var(--light-purple);
  }

  &:disabled {
    opacity: .8;
  }

  &--correct {
    background-color: var(--light-green);
  }

  &--incorrect {
    background-color: var(--light-red);
  }
}