.headerDefault {
  display: flex;
  align-items: center;
  color: var(--dark-blue);
  padding: 0;
  margin: 0;

  & :first-child {
    margin-right: 10px;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    color: var(--dark-blue);
    font-size: var(--text-large);
    font-weight: 600;
    text-decoration: none;

    &:visited, &:link {
      color: var(--dark-blue);
    }

    &:hover {
      color: var(--purple);
    }

    &--active {
      border-bottom: 2px solid var(--purple);
    }
  }
}