.header {
  display: flex;
  align-content: center;
  position: sticky;
  background-color: var(--white);
  top: 0;
  left: 0;
  height: 60px;
  z-index: 10;

  &__defaultContent, &__userContent {
    position: relative;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__defaultContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__userContent {
    display: grid;
    grid-template-columns: auto min-content min-content;
    align-items: center;
  }

  &__logo {
    color: var(--purple);
    font-size: var(--text-xlarge);
    font-weight: 800;
    text-decoration: none;
    transition: .2s;

    &:visited, &:link {
      color: var(--purple);
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__userSettings{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

@media (min-width: 800px) {
  .header {
    &__userContent {
      display: flex;
      justify-content: space-between;
      width: 90%;
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}