@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {

  /* colors */
  --dark-pink: #F73859;
  --dark-blue: #404B69;
  --light-green: #C4EDDE;
  --greenish-blue: #7AC7C4;
  --white: #FFF;
  --black: #000;

  /* typography */
  --font-family: 'Montserrat', sans-serif;

  --text-base: 1rem; /* 16px */

}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
 */