.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;

  &__title {
    color: var(--light-purple);
    font-size: clamp(var(--text-9xlarge), 6vw, var(--text-11xlarge));
    font-weight: 700;
    margin: 16% 0;
  }

  &__subheading {
    color: var(--white);
    display: block;
    font-size: clamp(var(--text-large), 3vw, var(--text-2xlarge));
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
  }

  &__description {
    color: var(--light-purple);
    font-size: clamp(var(--text-large), 3vw, var(--text-2xlarge));
    font-weight: 500;
  }
}

@media (min-width: 920px) {
  .home {
    flex-direction: row;
  }
}