.defaultButton {
  color: var(--light-purple);
  font-family: var(--font-family);
  font-size: var(--text-base);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--purple);
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: var(--purple);
    background-color: var(--light-purple);
  }
}